  :root{
      /* --bg:#f2f2f2; */
      --bg:white;
      --txt:#161616;
  }

*{
  margin: 0%;
  padding: 0%;
  color: var(--txt);

  box-sizing: border-box;
}
body{
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  margin-inline: auto !important;
  /* color: redf; */
  /* background-color: var(--bg); */
}